*~
*#
*.swp
*.swo
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.direnv
.envrc
*.secret*
*.key*
storage
lib
repos
.cache
.local
.ssh
.trc
.npm
.pipupgrade
.thumb*
.theme*
.mypy*
.fonts
.feh*
.lesshst
.icons
.gem
.cmake
.dbus
.degit
.gist
.gh.json
.vim/bundle/*
.gnupg
.X*
