*~
*#
*.swp
*.swo
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.direnv
.envrc
*.secret*
*.key*
Downloads
Documents
Desktop
Movies
Pictures
Public
podcasts
repos
.cache
.local
.vim/bundle
.taskbook
.ssh
.rustup
.matplotlib
.luarocks
.mailbox
.markdownNavigator
.gradle
.grip
.gnupg
.gmailctl
.decent
.dart
.gem
.abook
.android
.bashhub
.cachier
.cmake
.cordless
.cpan

