*~
*#
*.swp
*.swo
.DS_Store
.config/tldr/*
.config/instaloader/*
.config/exercism/*
.config/hydroxide/*
.config/.mypy_cache/*
.config/zathura/dracula/*
ehthumbs.db
Icon?
Thumbs.db
.direnv
.envrc
*.secret*
*.key*
Downloads
Documents
Library/*
!Library/Preferences/
Desktop
Movies
Pictures
Public
Music
podcasts
repos
.cache
.local
.vim/bundle
.taskbook*
.ssh
.viminfo
.rainbow*
.tmate.conf
.vnc
.rustup
.matplotlib
.netrc
.twurlrc
.npmrc
.notmuch*
.luarocks
.mailbox
.twitch-cli*
.mbsync*
.mind*
.gist*
.config/mpv/watch_later/*
.python_history
.wall*
.wget*
.z
.zcompdump
.markdownNavigator
.gradle
.grip
.gnupg
.gmailctl
.decent
.dart
.gem
.abook
.android
.bashhub
.cachier
.cmake
.cordless
.cpan
.lesshst
.good*
.gist.vim
.gcal*
.flutter*
.esd*
.trc
.twarc
.npm
.shpotify.cfg
.stylintrc
.tmux/plugins/*
.nimle
.oh-my-stars
.pipupgrade
.zcompcache

