[user]
	name = serafina
	email = parasitism@protonmail.com
[alias]
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
	gs = 'git status'
	gd = 'git diff'
	pull = 'git pull'
	push = 'git push'
	gpu = 'git push upstream'
	gr = 'git remote'
	gra = 'git remote add'
	grmv = 'git remote rename'
	grrm = 'git remote remove'
	gsi = 'git submodule init'
	gsb = 'git status -sbu'
	gsu = 'git submodule update'
	ghi = 'TERM=xterm-256color ghi' 
	
[github]
	user = tg-z
	oauth-token = a6ff0f1389183ff3ee28a772b956996a94de31d3
[ghi]
	token = !security find-internet-password -a tg-z -s github.com -l 'ghi token' -w
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = osxkeychain

[sendemail]
	smtpserver = localhost
	smtpuser = parasitism@protonmail.com
	smtpencryption = MeRgkjR5KPA497rbD95Xd+13JE7ZWJbShyLsxFX4m5U=
	smtpserverport = 1025
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templateDir = /Users/bluetooth/.git-templates/git-secrets
[gist]
	home = glist
[ghi "highlight"]
	style = rainbow_dash
[core]
	editor = vim
[ghq]
root = ~/repos
vcs = git 

